<li id="drama-<%= drama.id %>">
  <%= link_to gravatar_for(drama.user, size: 50), drama.user %>
  <span class="user"><%= link_to drama.user.name, drama.user %></span>
  <span class="title"><%= drama.title %></span>
  <p><%= image_tag drama.image %></p>
  <span><%= drama.description %></span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(drama.created_at) %> ago.
  </span>
</li>