<div class="container text-center signup">

<h1>プロフィールの更新</h1>

  <div class="row">
    <div class="col-md-12">
      <%= form_for(@user) do |f| %>
        <%= render 'shared/error_messages' %>

        <%= f.label :name, "名前" %>
        <%= f.text_field :name, class: 'form-control' %>

        <%= f.label :email, "メールアドレス" %>
        <%= f.email_field :email, class: 'form-control' %>

        <%= f.label :password, "パスワード（６文字以上）" %>
        <%= f.password_field :password, class: 'form-control' %>

        <%= f.label :password_confirmation,  "パスワード確認" %>
        <%= f.password_field :password_confirmation, class: 'form-control' %>

        <%= f.submit "プロフィールの更新", class: "btn btn-primary" %>
      <% end %>

      <% if @user.image.attached? %> 
        <p><%= image_tag @user.image, class: "profile-image" %></p>
      <% else %>
        <p><%= gravatar_for @user %></p>
      <% end %>
      <p><%= @user.name %>さん</p>

    </div>
  </div>
<div class="container text-center signup">
