<div class="container">
  <div class="user-profile text-center">
    <% if @user.image.attached? %> 
      <p><%= image_tag @user.image, class: "profile-image" %></p>
    <% else %>
      <p><%= gravatar_for @user %></p>
    <% end %>
    <h1>
      <%= @user.name %><small class="text-muted">さん</small>
    </h1>
    <% if current_user?(@user) %>
      <p><%= link_to "ドラマを紹介する", search_path, class: "btn btn-primary" %></p>
    <% end %>

    <% if @user.dramas.any? %>
      <h3>紹介したドラマ (<%= @user.dramas.count %>)</h3>
      <div class="row">
        <%= render @dramas %>
      </div>
      <%= paginate @dramas %>
    <% end %>
  </div>
</div>
  